@font-face {
  font-family: Hanwha;
  src: url('/fonts/HanwhaB.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: Hanwha;
  src: url('/fonts/HanwhaR.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: Hanwha;
  src: url('/fonts/HanwhaL.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: HanwhaGothic;
  src: url('/fonts/HanwhaGothicB.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: HanwhaGothic;
  src: url('/fonts/HanwhaGothicR.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: HanwhaGothic;
  src: url('/fonts/HanwhaGothicL.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: HanwhaGothic;
  src: url('/fonts/HanwhaGothicEL.woff2') format('woff2');
  font-weight: 250;
}

@font-face {
  font-family: HanwhaGothic;
  src: url('/fonts/HanwhaGothicEL.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: HanwhaGothic;
  src: url('/fonts/HanwhaGothicEL.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: SUIT;
  src: url('/fonts/SUIT-Regular.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: Nunito Sans;
  src: url('/fonts/NunitoSans_Medium.ttf') format('truetype');
  font-weight: 500;
}
